.main-page {
  display: inline-flex;
  margin-top: 10%;
}

.game {
  margin: 0 5% 0 10%;
  width: 450px;
}

.menu {
  width: max-content;
}

.menu button {
  padding: 2px 4px;
  height: 30px;
  width: 80px;
  background-color: #eaeef3;
  border: none;
  margin: 2px;
  border-radius: 2px;
}

.menu button:hover {
  background-color: #469bec;
}

.menu h4 {
  color: #469bec;
  margin: 15px 0 10px;
}

.menu .game-mode button {
  width: 63px;
  border-radius: 50px;
}

.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
  color: #334861;
  font-size: small;
}

.menu .score {
  position: absolute;
  top: 8%;
  left: 7.5%;
  color: #469bec;
  font-weight: bold;
}

.menu .win {
  position: absolute;
  top: 55%;
  left: 0%;
  color: mediumvioletred;
  font-size: 80px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.sudoku {
  width: 369px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
.sudoku input {
  width: 41px;
  height: 41px;
  font-weight: bold;
  font-size: larger;
  border: 0.5px solid gray;
  text-align: center;
  outline: none;
  background-color: white;
  color: #334861;
}

.sudoku input:focus {
  outline: none !important;
}

.sudoku input:hover,
input:focus {
  background-color: rgb(192, 222, 241);
}

.sudoku:focus-visible {
  outline: none;
}

.hint {
  color: #f8b14c !important;
  z-index: 99;
}

.mistake {
  color: brown !important;
  z-index: 90;
}

.userInput {
  color: #469bec;
}

.row_0,
.row_1,
.row_2,
.row_3,
.row_4,
.row_5,
.row_6,
.row_7,
.row_8 {
  border-right: 2px solid #334861;
  border-left: 2px solid #334861;
}

.row_0 {
  border-top: 2px solid #334861;
}

.row_2,
.row_5,
.row_8 {
  border-bottom: 2px solid #334861;
}

.sudoku #cell_02,
#cell_12,
#cell_22,
#cell_32,
#cell_42,
#cell_52,
#cell_62,
#cell_72,
#cell_82,
#cell_05,
#cell_15,
#cell_25,
#cell_35,
#cell_45,
#cell_55,
#cell_65,
#cell_75,
#cell_85 {
  border-right: 2px solid #334861;
}

.clicked {
  background-color: rgb(192, 222, 241) !important;
}

.options-area {
  margin-top: 5px;
  width: 250px;
  display: inline-flex;
  flex-wrap: wrap;
}

.options-area .option {
  width: 75px;
  height: 75px;
  font-size: 17px;
  border: none;
  border: 2px solid white;
  color: #469bec;
  background-color: #eaeef3;
}

.options-area .option:hover {
  background-color: rgb(192, 222, 241);
}
